<h1>ScoreLongest Word Game</h1>
<h2>Your results</h2>
<ul>
  <li><%= "Your word: #{@attempt}" %></li>
  <li><%= "Your score: #{@result[:score]}" %></li>
</ul>
<h2><%= link_to "play again", root_path %></h2>
